:where([class^="ri-"])::before { content: "\f3c2"; }
body {
  font-family: 'Inter', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.toc-link.active {
  color: #3b82f6;
  font-weight: 600;
}
@media print {
  .no-print {
    display: none;
  }
}
